<footer id="myFooter">

    <div class="footer-social">
        <a href="https://www.facebook.com/nighttimejm" class="social-icons"><i class="fa fa-facebook"></i></a>
        <a href="https://github.com/jmmunoz14" class="social-icons"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/nighttimejm" class="social-icons"><i class="fa fa-twitter"></i></a>
    </div>
</footer>