<!DOCTYPE html>
<html>

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <!-- JavaScript Bundle with Popper -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">



  <title>
    <%= title %>
  </title>

  <link rel='stylesheet' href='/stylesheets/style.css' />


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">

        <img src="/images/traveler3.png" class="logo" alt="" width="100" height="100">

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link active" aria-current="page" href="/aboutme">About me</a>
          <a class="nav-link" href="/projects">Projects page</a>
          <a class="nav-link" href="/services">Services page</a>
          <a class="nav-link" href="/contactme">Contact Me</a>

        </div>
      </div>
    </div>
  </nav>
</head>



<body class="body">


  <img src="/images/casual_clothes.jpg" class="d-block w-100 handsome" alt="casual clothes">

  <p class="introduction" style="white-space: pre-line; font-size: large;">
    I'm a computer science engineer from Colombia,
    graduated from Universidad de los Andes, the best college in
    Colombia.
  </p>

  <br>
  <div>
    <p id="pretext">Video Games - Fitness - Movies</p>
  </div>
  <div id='overlay'>
    hobbies
  </div>
  <div style="margin-left: 28%; margin-top: 5%;">
    <div id='im1'>
      <img id="gamecontroller"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Video_game_controller_icon_designed_by_Joe_Harrison.svg/800px-Video_game_controller_icon_designed_by_Joe_Harrison.svg.png"
        class="img-fluid" alt="Responsive image">
    </div>
    <div id='im1'>
      <img id="gym" src="https://i.imgur.com/owqd1uR.png" class="img-fluid" alt="Responsive image">
    </div>
    <div id='im1'>
      <img id="movies" src="https://i.imgur.com/OwYrdka.png" class="img-fluid" alt="Responsive image">
    </div>

  </div>


  <a href="/downloadcv" style="margin-left: 43%;">
    <img src="/images/pdficon.png" class="pdfdownload" alt="casual clothes">
    <p class="introduction">
      Download my cv
    </p>

  </a>






  <!-- JavaScript Bundle with Popper -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>


</body>

</html>