<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>



<body class="body">


  <img src="/images/casual_clothes.jpg" class="d-block w-100 handsome" alt="casual clothes">

  <p class="introduction" style="white-space: pre-line; font-size: large;">
    I'm a computer science engineer from Colombia,
    graduated from Universidad de los Andes, the best college in
    Colombia.
  </p>

  <br>
  <div>
    <p id="pretext">Video Games - Fitness - Movies</p>
  </div>
  <div id='overlay'>
    hobbies
  </div>
  <div style="margin-left: 28%; margin-top: 5%;">
    <div id='im1'>
      <img id="gamecontroller"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Video_game_controller_icon_designed_by_Joe_Harrison.svg/800px-Video_game_controller_icon_designed_by_Joe_Harrison.svg.png"
        class="img-fluid" alt="Responsive image">
    </div>
    <div id='im1'>
      <img id="gym" src="https://i.imgur.com/owqd1uR.png" class="img-fluid" alt="Responsive image">
    </div>
    <div id='im1'>
      <img id="movies" src="https://i.imgur.com/OwYrdka.png" class="img-fluid" alt="Responsive image">
    </div>

  </div>


  <a href="/downloadcv" style="margin-left: 43%;">
    <img src="/images/pdficon.png" class="pdfdownload" alt="casual clothes">
    <p class="introduction">
      Download my cv
    </p>

  </a>




  <footer>
    <%- include('partials/footer'); %>
  </footer>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>


</body>

</html>