<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>


<body class="body">
  <div class="spaceparent">
    <img src="/images/spacecircle.png" class="spacecircle" alt="stars">
  </div>


  <img src="/images/stars1.png" class="stars" alt="stars">

  <img src="/images/libre.png" class="constellation" alt="stars">

  <img src="/images/lion.png" class="constellation2" alt="stars">


  <h1>
    Juan Manuel Muñoz
  </h1>
  <h5>Go beyond the stars</h4>
    <img src="/images/traveler3.png" class="traveler" alt="stars">


    <table>
      <tr>
        <td class="boxhead">
          <a href="/aboutme">
            <div style="height:100%;width:100%">
              About Me
            </div>
          </a>
        </td>
      </tr>
    </table>
    <div class="vl"></div>

    <table>
      <tr>
        <td class="boxhead">
          <a href="/projects">
            <div style="height:100%;width:100%">
              My projects
            </div>
          </a>
        </td>
      </tr>
    </table>
    <div class="vl"></div>

    <table>
      <tr>
        <td class="boxhead">
          <a href="/services">
            <div style="height:100%;width:100%">
              My services
            </div>
          </a>
        </td>
      </tr>
    </table>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>


</body>

</html>