<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body class="body">

  <div class="bg-image"></div>

  <div class="bg-text">
    <h1 style="color: white;">My services</h1>
    <p>Services I provide as a computer and science engineer.</p>
  </div>

  <div class="servicesBody">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="/images/android.png" w alt="android dev" style="max-height: 230px;">
          <div class="card-body">
            <h5 class="card-title"
              style="color: #000; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Android
              Developer</h5>
            <p class="card-text">As an experienced Android developer, I can create nativa applications from scratch
              using either Java or Kotlin as required.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/images/maintenance.jpg" alt="android dev" style="max-height: 230px;">
          <div class="card-body">
            <h5 class="card-title"
              style="color: #000; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Computer
              Maintenance</h5>
            <p class="card-text">As an avid gamer i do my own repairs and setups, easily overcoming any difficulty.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/images/unity.png" alt="android dev" style="max-height: 230px;">
          <div class="card-body">
            <h5 class="card-title"
              style="color: #000; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Unity
              development</h5>
            <p class="card-text">I can create basic games using the unity game engine.</p>
          </div>
        </div>
      </div>

    </div>



  </div>

  <footer>
    <%- include('partials/footer'); %>
  </footer>
  <%- include('partials/scripts'); %>

</body>

</html>